
<a href="https://colab.research.google.com/github/aviadr1/learn-advanced-python/blob/master/content/01_refresher/notebooks/refresher.ipynb" target="_blank">
<img src="https://colab.research.google.com/assets/colab-badge.svg" 
     title="Open this file in Google Colab" alt="Colab"/>
</a>

In [7]:
x = 10

In [2]:
x

10

In [3]:
y= 20
y
x

10

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
x = 100

100

In [8]:
print(x)

10

In [9]:
x = [1,2,3]
x.append(4)
x = x* 2
print(x)

[1, 2, 3, 4, 1, 2, 3, 4]

In [1]:
prices = {
    'pizza' : 45,
    'hamburger' : 59,
    'salad' : 33,
    'dessert' : 25,
    'soup' : 30,
    'pie' : 32
}

order = ['pizza', 'pizza', 'salad', 'dessert']

In [11]:
sum = 0
for item in order:
    sum+=prices[item]
print(sum)

148

In [4]:
sum( [prices[item] for item in order] )

148

In [5]:
i=0
while i<8:
    print(2**i)
    i+=1

1
2
4
8
16
32
64
128

In [6]:
for i in range(8):
    print(2**i)

1
2
4
8
16
32
64
128

In [7]:
newlist = []
for i in range(8):
    newitem = 2**i
    newlist.append(newitem)

In [8]:
newprices = { item : prices[item] * 2 for item in prices}
print(newprices)

{'pizza': 90, 'hamburger': 118, 'salad': 66, 'dessert': 50, 'soup': 60, 'pie': 64}

In [9]:
prices.items()

dict_items([('pizza', 45), ('hamburger', 59), ('salad', 33), ('dessert', 25), ('soup', 30), ('pie', 32)])

In [13]:
item = ('pizza', 45)
name = item[0]
price = item[1]

In [14]:
name, price = ('pizza', 45)
print(name, price)

pizza 45

In [15]:
name2, price2 = item
print(name2, price2)

pizza 45

In [17]:
for name, price in prices.items():
     print(name, '-->>', price)
    

newprices = { name : price * 2 for name, price in prices.items()}
print(newprices)

pizza -->> 45
hamburger -->> 59
salad -->> 33
dessert -->> 25
soup -->> 30
pie -->> 32
{'pizza': 90, 'hamburger': 118, 'salad': 66, 'dessert': 50, 'soup': 60, 'pie': 64}

In [18]:
order

['pizza', 'pizza', 'salad', 'dessert']

In [19]:
order[2:]

['salad', 'dessert']

In [20]:
order[:3]

['pizza', 'pizza', 'salad']

In [21]:
order[::-1]

['dessert', 'salad', 'pizza', 'pizza']

In [22]:
x = 10
y = x
x += 1
print(y)

10

In [23]:
x = [1,2,3]
y = x
x += [4]
print(y)

[1, 2, 3, 4]

In [24]:
{
    1 :  []
}

{1: []}

In [25]:
{
    [] : 1
}

TypeError: unhashable type: 'list'

In [26]:
2/3

0.6666666666666666

In [27]:
2//3

0

In [28]:
float(2)

2.0

In [29]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
int("42")

42

In [31]:
str(42)

'42'

In [32]:
[]

[]

In [33]:
[]

[]

In [34]:
()

()

In [35]:
(2)

2

In [36]:
(1,2,3)

(1, 2, 3)

In [37]:
(1,2)

(1, 2)

In [38]:
(1,)

(1,)

In [39]:
1,

(1,)

In [44]:
x = 10
y = 'blah'

In [41]:
z = x
x = y
y = x

In [50]:
x, y = y, x
print(x,y)

10 blah

In [51]:
order

['pizza', 'pizza', 'salad', 'dessert']

In [52]:
order[0]

'pizza'

In [53]:
order[1]

'pizza'

In [54]:
order[-1]

'dessert'

In [55]:
order[-2]

'salad'

In [56]:
order[-2 + len(order)]

'salad'

In [57]:
len(order)

4

In [59]:
order[-10]

IndexError: list index out of range

In [60]:
order[-3:]

['pizza', 'salad', 'dessert']

In [61]:
order

['pizza', 'pizza', 'salad', 'dessert']

In [62]:
'hello ' * 3

'hello hello hello '

In [63]:
[1] * 3

[1, 1, 1]

In [67]:
m = [ [ 0, 0, 0 ] ]* 3

In [68]:
m

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [69]:
m[0][0] = 99
print(m)

[[99, 0, 0], [99, 0, 0], [99, 0, 0]]

In [70]:
x = [1,2,3, 2, 1]
sorted(x)

[1, 1, 2, 2, 3]

In [71]:
x

[1, 2, 3, 2, 1]

In [72]:
x.sort()
print(x)

[1, 1, 2, 2, 3]

In [87]:
fruits = ['watermelon', 'apple', 'grapes', 'melon', 'peach', 'citrus']

In [74]:
sorted(fruits)

['apple', 'grapes', 'melon', 'peach', 'watermelon']

In [75]:
len

In [76]:
sorted(fruits, key=len)

['apple', 'melon', 'peach', 'grapes', 'watermelon']

In [89]:
prices = {
    'apple' : 20, 
    'melon' : 7, 
    'peach' : 12,
    'grapes' : 25,
    'watermelon' : 5,
    'citrus' : 5
}

In [78]:
def getprice(fruit):
    return prices[fruit]

In [90]:
sorted(fruits, key=getprice)

['watermelon', 'citrus', 'melon', 'peach', 'apple', 'grapes']

In [80]:
[1] < [2, 2]

True

In [81]:
[2] < [1, 1]

False

In [83]:
[2] < [10,1]

True

In [85]:
[10, 2, 1000] < [10,100, 0]

True

In [91]:
int

int

In [92]:
x = int

In [93]:
int = float

In [94]:
int(10)

10.0

In [95]:
type(10)

int

In [96]:
int = type(10)

In [98]:
a = len

In [99]:
a

In [100]:
len = 10

In [101]:
len("hello")

TypeError: 'int' object is not callable

In [102]:
len = print

In [103]:
len("hello")

hello

In [104]:
import math

In [105]:
math

In [106]:
x = math

In [107]:
x

In [108]:
del x

In [109]:
len = a

In [110]:
len('hello')

5

In [111]:
a = {"hello"}

In [112]:
a

{'hello'}

In [114]:
a += {'hello', 'world' }

TypeError: unsupported operand type(s) for +=: 'set' and 'set'

In [129]:
a = set()
x = """hello"""
a.update({x})
print(a)

{'hello'}

In [120]:
a

{'e', 'h', 'hello', 'l', 'o'}

In [130]:
x = 10

In [131]:
x < 20

True

In [132]:
x == [1,2,3]

False

In [133]:
bool(10)

True

In [134]:
bool(0)

False

In [135]:
bool([0])

True

In [136]:
bool([])

False

In [137]:
result = []

In [138]:
if result :
    print("got results")
else:
    print('failed | empty result | eof | eos')

failed | empty result | eof | eos

In [139]:
bool(result)

False

In [140]:
score = 87
if score > 0 and score < 100:
    print('yes')

yes

In [142]:
if 0<score<100<score**2< 10000:
    print('yes')

yes

In [144]:
x = "hello"
y = "HELLO".lower()
z = "hel" + "lo"
x == y == z == 'moshe'

False

In [145]:
2 in [1,2,3]

True

In [146]:
0 in [1,2,3]

False

In [147]:
fruits

['watermelon', 'apple', 'grapes', 'melon', 'peach', 'citrus']

In [148]:
"melon" in fruits

True

In [150]:
"car" in fruits

False

In [151]:
"car" not in fruits

True

In [152]:
max

In [153]:
min

In [154]:
sum

In [155]:
all

In [156]:
any

In [157]:
all([1, [2], "3"])

True

In [158]:
all([1, [2], "3", 0])

False

In [159]:
all([1, [2], "3", ""])

False

In [160]:
fruits

['watermelon', 'apple', 'grapes', 'melon', 'peach', 'citrus']

In [161]:
prices

{'apple': 20,
 'melon': 7,
 'peach': 12,
 'grapes': 25,
 'watermelon': 5,
 'citrus': 5}

In [167]:
[ { 
    'name' : fruit, 
    'price' : prices[fruit], 
    '+vat' : prices[fruit]*1.17
  } 
    for fruit in fruits]

[{'name': 'watermelon', 'price': 5, '+vat': 5.85},
 {'name': 'apple', 'price': 20, '+vat': 23.4},
 {'name': 'grapes', 'price': 25, '+vat': 29.25},
 {'name': 'melon', 'price': 7, '+vat': 8.19},
 {'name': 'peach', 'price': 12, '+vat': 14.04},
 {'name': 'citrus', 'price': 5, '+vat': 5.85}]

In [170]:
[ [fruit, prices[fruit]] for fruit in fruits if prices[fruit] <= 10]

[['watermelon', 5], ['melon', 7], ['citrus', 5]]

In [171]:
def make_price_pair(fruit):
    return [fruit, prices[fruit]]

In [172]:
make_price_pair('melon')

['melon', 7]

In [176]:
list(map(make_price_pair, fruits))

[['watermelon', 5],
 ['apple', 20],
 ['grapes', 25],
 ['melon', 7],
 ['peach', 12],
 ['citrus', 5]]

In [177]:
[ [fruit, prices[fruit]] for fruit in fruits ]

[['watermelon', 5],
 ['apple', 20],
 ['grapes', 25],
 ['melon', 7],
 ['peach', 12],
 ['citrus', 5]]

In [178]:
def keep_cheap_fruits(fruit):
    return prices[fruit] <= 10

In [180]:
list(filter(keep_cheap_fruits, fruits))

['watermelon', 'melon', 'citrus']

In [182]:
[ [fruit, prices[fruit]] for fruit in fruits if prices[fruit] <= 10 and len(fruit)<= 5]

[['melon', 7]]

In [190]:
matrix = []
for i in range(1, 6):
    row = []
    matrix.append(row)
    for j in range(1, 11):
        row.append(i*j)

from pprint import pprint        
pprint(matrix)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

In [191]:
[ [i*j for i in range(1, 6)] for j in range(1, 11) ]

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25],
 [6, 12, 18, 24, 30],
 [7, 14, 21, 28, 35],
 [8, 16, 24, 32, 40],
 [9, 18, 27, 36, 45],
 [10, 20, 30, 40, 50]]

In [193]:
matrix

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

In [197]:
[ matrix[i][j] for i in range(5) for j in range(10)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50]

In [199]:
list(map(len, fruits))

[10, 5, 6, 5, 5, 6]

In [201]:
list(reversed(fruits))

['citrus', 'peach', 'melon', 'grapes', 'apple', 'watermelon']

In [204]:
enumerate(fruits)

In [207]:
range(10**12)

range(0, 1000000000000)

In [209]:
fruit_iterator = reversed(fruits)

In [217]:
next(fruit_iterator)

StopIteration:

In [211]:
fruits

['watermelon', 'apple', 'grapes', 'melon', 'peach', 'citrus']

In [218]:
for fruit in reversed(fruits):
    print(fruit)

citrus
peach
melon
grapes
apple
watermelon

In [219]:
dir(fruit_iterator)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [223]:
a = range(10)
b = a.__iter__()
next(b)

0

In [228]:
list(reversed(fruits))

['citrus', 'peach', 'melon', 'grapes', 'apple', 'watermelon']

In [229]:
song = """\
Lovely Spam! Wonderful Spam!
Lovely Spam! Wonderful Spam
Spa-a-a-a-a-a-a-am
Spa-a-a-a-a-a-a-am
Spa-a-a-a-a-a-a-am
Spa-a-a-a-a-a-a-am
Lovely Spam! (Lovely Spam!)
Lovely Spam! (Lovely Spam!)
Lovely Spam!
Spam, Spam, Spam, Spam!
"""

In [230]:
with open('spam.txt', 'w') as f:
    print(song, file=f)

In [232]:
import os
os.system('spam.txt')

0

In [233]:
fin = open('spam.txt')

In [234]:
next(fin)

'Lovely Spam! Wonderful Spam!\n'

In [235]:
next(fin)

'Lovely Spam! Wonderful Spam\n'

In [236]:
for line in fin:
    print(line)

Spa-a-a-a-a-a-a-am

Spa-a-a-a-a-a-a-am

Spa-a-a-a-a-a-a-am

Spa-a-a-a-a-a-a-am

Lovely Spam! (Lovely Spam!)

Lovely Spam! (Lovely Spam!)

Lovely Spam!

Spam, Spam, Spam, Spam!

In [237]:
reduce

NameError: name 'reduce' is not defined

In [238]:
for line in open('spam.txt'):
    print(line)

Lovely Spam! Wonderful Spam!

Lovely Spam! Wonderful Spam

Spa-a-a-a-a-a-a-am

Spa-a-a-a-a-a-a-am

Spa-a-a-a-a-a-a-am

Spa-a-a-a-a-a-a-am

Lovely Spam! (Lovely Spam!)

Lovely Spam! (Lovely Spam!)

Lovely Spam!

Spam, Spam, Spam, Spam!